<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Films and Review</title>
</head>
<body>
<table cellspacing=25>
<td valign="top">
{% block sidebar %}
<ul class="sidebar-nav">
   {% if user.is_authenticated %}
     <li>User: {{ user.get_username }}</li>
     <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
   {% else %}
     <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
   {% endif %}
    <li><a href="{% url 'index' %}">Home</a></li>
    <li><a href="{% url 'add' %}">Add a movie</a></li>
    <li><a href="{% url 'statistics' %}">Statistics</a></li>
  </ul>
{% endblock %}
    </td>
    <td valign="top">
{% block content %}
{% endblock %}
    </td>
</table>
</body>
</html>