<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Main - Film and Review</title>
        <a href="{% url 'add' %}">Add a movie</a>
        <a href="{% url 'statistics' %}">Statistics</a>
    </head>
    <body>
        <h1>Films and Review</h1>
        {% for d in descr %}
        <div>
            <h2><a href="{{ d.get_absolute_url }}">{{ d.movie }}</a></h2>
            <p> Directed by {{ d.movie.directed_by }}</p>
            <p> {{ d.movie.year }}</p>
            <p> {{ d.movie.genre}}</p>
        </div>
        {% endfor %}
    </body>
</html>
