<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Main - Film and Review</title>
        <a href="{% url 'add' %}">Add a movie</a>
    </head>
    <body>
        <h1>Films and Review</h1>
        {% for movie in movies %}
        <div>
            <h2>{{ movie.title }}</h2>
            <p> {{ movie.content }}</p>
            <p> {{ movie.year }}</p>
        </div>
        {% endfor %}
<!--    <a href="{% url 'comment' %}">comment</a>-->
    </body>
</html>
